@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");

/* GENERICS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* border: 1px dotted red; */
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

p {
  line-height: 1.5;
}

ul {
  display: flex;
}

li {
  list-style-type: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  max-height: 45vh;
}

.purple {
  color: #7342d6;
}

a {
  text-decoration: none;
}

/* NAVIGATION */

.logo {
  width: 160px;
}

nav {
  height: 80px;
  display: flex;
}

.nav__container {
  display: flex;
  max-width: 1200px;
  padding: 0 24px;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.nav__links {
  display: flex;
}

.nav__link {
  text-decoration: none;
  margin-left: 16px;
  color: #7342d6;
  font-weight: bold;
  font-size: 20px;
  padding: 8px;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  border: 2px solid #7342d6;
  font-size: 20px;
  border-radius: 4px;
  text-decoration: none;
}

/* HEADER */

#landing {
  background-color: rgba(115, 66, 214, 0.1);
}

header {
  height: calc(100% - 80px);
}
h1 {
  font-size: 56px;
  color: #7342d6;
  margin-bottom: 24px;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 32px;
}

.header__container {
  width: 100%;
  padding-top: 32px;
  max-width: 720px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__description--purple {
  color: #7342d6;
}

.header__img--wrapper {
  padding-top: 20px;
  z-index: 2;
}

/* ALL BUTTONS */

button {
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
}

.btn {
  background-color: #7342d6;
  color: white;
  padding: 12px 24px;
  font-size: 20px;
  border-radius: 6px;
  border: none;
}
.container {
  padding: 56px 0;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* HIGHTLIGHTS */

#highlights {
  position: relative;
}

#highlights::after, #highlights::before {
  content: "";
  background: url("assets/wave.svg");
  position: absolute;
  width: 101vw;
  height: 12vw;
  left: 0;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

#highlights::before {
  transform: translateY(-100%);
  top: 1px;
}



#highlights::after {
  transform: translateY(100%) rotate(180deg);
  bottom: 1px;
}

.highlight__wrapper {
  display: flex;
}
.highlight {
  padding: 0 24px;
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.highlight__img {
  font-size: 28px;
  padding: 48px;
  color: #7342d6;
  border: 2px solid #7342d65d;
  border-radius: 4px;
}
.highlight__subtitle {
  text-align: center;
  font-size: 20px;
  padding: 16px 0 8px 0;
  font-weight: 700;
}

.highlight__para {
  text-align: center;
  max-width: 280px;
}
.highlight__img {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* FEATURES */

#features {
  background-color: rgba(115, 66, 214, 0.1);
  padding-top: 8vw;
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.book {
  width: 25%;
}

.book__img {
  max-height: 380px;
  max-width: 150px;
  transition: all 300ms ease;
  cursor: no-drop;
  margin-top: 16px;
}

.book__img--wrapper {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.book:hover .book__img {
  transform: scale(1.03);
}

.book__title {
  font-size: 20px;
  margin-bottom: 8px;
  max-width: 150px;
}


.book__title:hover {
  text-decoration: underline;
  cursor: no-drop;
}

.book__ratings {
  margin-bottom: 8px;
  color: #fabf2a;
}
.book__price--normal {
  text-decoration: line-through;
  padding-right: 6px;
  color: #bfbfbf;
}

/* LATEST */

#recent {
  flex-wrap: wrap;
}

/* EXPLORE */

#explore {
  background-color: rgba(115, 66, 214, 0.1);
}

.explore__container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.explore__row {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.explore__header {
  text-align: center;
  padding-top: 56px;
}.explore__btn {
  margin-bottom: 48px;
}

/* FOOTER */

footer {
  background-color: #242424;
}

.footer__list, .footer__copyright
 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__link, .footer__copyright {
  color: white;
}

.footer__link {
  padding: 0 8px;
  margin: 20px 0 24px 0;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer__logo--img {
  width: 160px;
  filter: grayscale(1) invert(1);
  
}

.no-cursor {
  cursor: not-allowed;
}